<!DOCTYPE html>
<html>
  <head >
    <title>Asta Chemma </title>
      <link rel="stylesheet" href='/stylesheets/style1.css'>
  </head>
  <body>
    <h3>Welcome to Asta Chemma</h3>
    <p>The Indian Game</p>
    <link class="container">
    <a href="/users/login"><button type="button" rel="script" id="login_page.js">Enter</button> </a>
  </body>
</html>
