<!DOCTYPE html>
<html>
<body src="Style1.css">
<form>
    <link rel="stylesheet" href='/stylesheets/style1.css'> </link>
    <div class="container">
        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required></input>
        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required></input>

        <button type="submit">Login</button>
        <input type="checkbox" checked="checked"> Remember me</input>
    </div>

    <div class="container" style="background-color:#f1f1f1">
        <a href="/users/index"><button type="button" class="cancelbtn" rel="script" id="index.js">Cancel</button></a>
        <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
    <link class="container">
        <a href="/users/signup"><button type="button" rel="script" id="signup.js">sign up</button> </a>
    </div>
</form>
</body>
</html>



